



@{
    ViewData["Title"] = "Şifre Değiştirme Başarılı";
}

<div class="alert alert-success">
    <h4><i class="fa-solid fa-circle-check"></i> Şifreniz başarıyla değiştirildi</h4>
    <p>Lütfen yeni şifrenizle tekrar giriş yapınız.</p>
    <a asp-action="Login" asp-controller="Home" class="btn btn-primary">Giriş Yap</a>
</div>